AUTH_SECRET="" # Create with `pnpx auth secret`. Read more: https://cli.authjs.dev
AUTH_URL=http://localhost:3000 # In production, this should be the URL of your app. Example: https://app.example.com

DATABASE_URL="postgresql://username:password@localhost:5432/database?schema=public"
